.Counter{
    display: flex;
    align-items: center;
}

.Sub,
.Add{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #FCBF49;
    width: 36rem;
    height: 36rem;
    line-height: 40rem;
    border-radius: 50%;
    font-size: 14px;
    padding: 0;
}

.Sub{
    background-color: white;
    border: 1px solid black;
}

.Count{
    font-size: 16px;
    margin: 10rem;
}